<div class="result">
<p>{{model.id}}_description:{{model.description}}_<span class="title">{{model.title}}</span> in <span class="city">{{model.city}}</span> is owned by <span class="owner"> {{model.owner}}</span></p>
</div>
{{outlet}}
